@using LearningPlatform.Services

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div id="nav-container" class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">LearningPlatform</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Course" asp-action="Index">All courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="CourseCategory" asp-action="Index">Categories</a>
                    </li>
                    @if (StudentService.LoggedInStudent is null)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Register">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                        </li>
                    }
                    else
                    {
                        
                                @if (StudentService.IsAdmin)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Edit">
                                            <span style="color: orange;">@(StudentService.LoggedInStudent.Name) @(StudentService.LoggedInStudent.Surname)</span>
                                            @*                                 else *@
                                            @*                                 { *@
                                            @*                                     <span>@(StudentService.LoggedInStudent.Name) @(StudentService.LoggedInStudent.Surname)</span> *@
                                            @* *@
                                            @*                                 } *@
                                        </a>
                                    </li>
                                }
                        <li class="nav-item">
                            
                            @if (StudentService.LoggedInStudent.ProfileImage != null && StudentService.LoggedInStudent.ProfileImage != "")
                            {
                                
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Edit">
                                    
                             <img src="~/images/@StudentService.LoggedInStudent.ProfileImage"
                                      class="rounded-circle"
                                      width="30"
                                      asp-append-version="true"/>                                   
                                </a>

                            }
                        </li>
                        <li class="nav-item">
                            @if (StudentService.IsAdmin)
                            {
                                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">
                                    <span style="color: orange;">Dashboard</span>
                                </a>
                            }
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="LogOut">
                                Log out
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>